@media only screen and (min-width :1024px) {
*{
	color: black;
}
body {   
    width: 100%;
    height:auto;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
	position:relative;
 }
footer{
	position: fixed;
	bottom: 0px;
	text-align: center;
	width: 100%;
	height: 40px;
	opacity: 0.9;
	background-color:black;
	color: white;
    
}
/*#bod1{
	background-image: url(img/mercado1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	background-position: center center;
}*/
/* inputs do formulario/lista_produto */
#hlista{
	color:white;
	text-shadow:2px 2px 1px black;
}
#tlista{
	background-color:#AFEEEE;
	opacity:0.9;
}
#divtab1{
	width:70%;
	height:400px;
	left:200px;
	top:150px; 
	overflow: auto;
	position:absolute;
}
#husuario{
	top:75px;
	left:500px;
	color:white;
	text-shadow:2px 2px 1px black;
	position:absolute;
}
#hremove{
	top:75px;
	left:500px;
	position:absolute;
}
#butlista{
	left:600px;
	top:520px;
	position:absolute;
}
#icon1{
	width:70px;
	height:70px;
	position:relative;
}
#icon2{
	width:70px;
	height:70px;
	position:relative;
}
#icon3{
	width:70px;
	height:70px;
	position:relative;
}

.tdireita{
    left:320px;
    position:relative;
}
#butlixo{
    left: 150px;
    bottom:8px;
    position: absolute;
}

.principal {
    padding: 40px 20px;
    text-align: center;
}
#buttonrefazer{
    position: relative;
    top: 40px;
}
#table1{
  border:2px solid black;
  width: 100%;
  position: relative;
  border-radius: 15px;

}
#lisair{
	left: 850px;
}
#p2{
	left:580px;
	top:180px;
	color:white;
	text-shadow:2px 2px 1px black;
	position:absolute;
}
#p3{
	left:540px;
	top:200px;
	color:white;
	text-shadow:2px 2px 1px black;
	position: absolute;
}
#p4,#p5,#p6{
	left:500px;
	top:90px;
	color:white;
	text-shadow:2px 2px 1px black;	
	position: absolute;
}
#p7,#p8{
	left:500px;
	top:100px;
	color:white;
	text-shadow:2px 2px 1px black;	 
	position:absolute;
}
#b1{
	border-radius:12px;
	top:250px;
	left:200px;
	position:absolute;
}
#b2{
	border-radius:12px;
	top:250px;
	right:600px;
	position:absolute;
}
#b3{
	border-radius:12px;
	top:250px;
	right:250px;
	position:absolute;
}
#b4{
	border-radius:12px;
	top:10px;
	right:10px;
	position:absolute;
}
#b5{
	border-radius:12px;
	top:10px;
	right:130px;
	position:absolute;
}
#b6{
	border-radius:12px;
	top:10px;
	right:245px;
	position:absolute;
}
#tab1{
	width:50%;
	height:440px;
	right:50px; 
	top: 70px; 
	border-radius:20px;
	position: absolute;
	font-size: 20pt;
	text-align:left;
	background-color:#EED8AE;
	opacity: 0.7;
	overflow:auto;
}
#tab2{
	top: 290px;
	position: absolute;
}
#tab4{
	top:200px;
	left: 0px;	
	position: absolute;
}
#div1{
	width:17%;
    height:100px;
    left:170px;
    top:400px;
	background-color:black;
	opacity: 0.8;
    border-radius:20px;
	position:absolute;

}
#div2{
	width:100px;
	left:150px;
	top:30px;
	text-align:center;
	border-radius:12px;
    border-color: black;	
	position:absolute;
	
}
#div4{
	left:550px; 
	top: 130px;
	color:white;
	text-shadow:2px 2px 1px black;
	position:absolute;
}

#in1{
	width:30%;
	left:100px;
	top:100px;
	border-radius:20px;
    border-color: black;
	position:absolute;
	
}
#in2{
	width: 50px;
	left:520px;
	top:155px;
	position:absolute;
	border-radius: 12px;
	text-align: center;
	
}
#in3{
	right:460px;
	position: relative;
}
#in4{
    bottom:15px;
	position: relative;
	text-align: center;
	
}
#in5{
	width: 70px;
	left:510px;
	top: 240px;
	border-radius: 12px;
	position: absolute;
}
/* inputs do caixa */
#tag1{
	color:white;
	text-shadow:2px 2px 1px green;
	left: 250px;
	top:50px;
	position:absolute;
}
#tag2{
	left: 210px;
	top: 330;
	color:white;
	text-shadow:2px 2px 1px black;
	position:absolute;
}
#in6{
	left:0px;
	bottom:230px;
	color:white;
	text-shadow:2px 2px 1px black; 
	position:absolute;
}
#in8{
	left:0px;
	top: 70px;
	color:white;
	text-shadow:2px 2px 1px black;	
	position:absolute;
}
#in9{
	top:20px; 
	left:0px;
	color:white;
	text-shadow:2px 2px 1px black;	
	position:absolute;
}

/*parte do finaliza compras*/
#tab3{
	width: 50%;
	height:250px;
	top:180px;
	left:150px; 
	position: absolute;
}
#div3{
	width: 100px;
	height:35px;
    left:298px;
	top:70px;
	text-align: center;
	position:absolute;
	border-radius: 12px; 
}

#in7{
	width:100px;
	left:150px;
    bottom:240px;
	border-radius: 12px;
    border-color: black;	
	text-align: center;
	position: absolute;
}
#in10{
	width:100px; 
	left:150px;
	top:80px;
	text-align: center;
	border-radius: 12px;
    border-color: black;	 
	position:absolute;
}
#in11{
	width: 70px;
	left: 250px;
	top:200px;
	border-radius: 12px;
	position: absolute;
}
#in12{
right:  990px;
bottom: 230px;
position: absolute;	
}
#in13{
 right:740px;
 top: 135px;
 border-radius: 12px;
 position:absolute;
}

#in14{
width: 80px;
left: 430px;
top:20px;
font-size: 12pt;
border-radius: 12px;
text-align: center;
position: absolute; 
}
/* Botões do adiciona_produto */
#posicao{
	top:200px;
	left:450px;
	position: absolute;
}
#in15{
right:470px;
top:350px;
position: absolute;
}
#in16{
left:500px;
top:350px;
position: absolute;
}
/* inputs do login/index */
#in17{
	width: 50%;
	left: 300px;
	top:10px;
	position: absolute;
}
#in18{
	width: 50%;
	left: 300px;
	top:70px;
	position: absolute;
}
#in19{
	top:120px;
	left: 310px;
	position: absolute;
}
#in20{
	top:410px;
	right:265px;
	position: absolute;
}
#in21{
	left: 200px;
	color:white;
	text-shadow:2px 2px 1px black;
	position: relative;
}
#in22{
	left: 200px;
	color:white;
	text-shadow:2px 2px 1px black;
	position: relative;
}
/* inputs do formulario/formulario base */
#hcadastro{
	color:white;
	text-shadow:2px 2px 1px black;	
}
#hcodigo{
	color:white;
	text-shadow:2px 2px 1px black;	
}
#hnome{
	color:white;
	text-shadow:2px 2px 1px black;	
}
#hpreco{
	color:white;
	text-shadow:2px 2px 1px black;
}
#hdescricao{
	color:white;
	text-shadow:2px 2px 1px black;
}
#hcat{
	color:white;
	text-shadow:2px 2px 1px black;
}
#in23{
	width:55%;
	left:340px;
	top:135px;
	position: absolute;
}
#in24{
	width:55%;
	left:340px;
	top:205px;
	position: absolute;
}
#in25{
	width:55%;
	left:340px;
	top:280px;
	position: absolute;
}
#in26{
	width:55%;
	height:60px;
	left:340px;
	top:337px;
	position: absolute;
}
#in27{
	width:55%;
	left:340px;
	top:430px;
	position: absolute;
}
#but1{
	left: 400px;
	position: absolute;
}
#but2{
	left: 550px;
	top:510px;
    position:absolute;	
}
/* inputs do alterar_produto_formulario */
#but3{
	right: 400px;
	top:520px;
	position: absolute;
}
#but4{
	left: 400px;
	top:520px;
	position: absolute;
}
/*inputs do cadastroUsuario*/
#in28{
	width:60%;
	left:350px;
	top:20px;
	position: absolute;
}
#in29{
	width:60%;
	left:350px;
	top:95px;
	position: absolute;
}
#in30{
	left:250px;
	bottom:5px;
	position:relative;
}
#in31{
	left:250px;
	bottom:5px;
	position:relative;
}
#in32{
	left:270px;
	top:160px;
	position:absolute;
}
}

@media only screen and (min-width :1920px) {

*{
	color: black;
}
body {   
    width: 100%;
    height:auto;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
	position:relative;
 }
footer{
	position: fixed;
	bottom: 0px;
	text-align: center;
	width: 100%;
	height: 40px;
	opacity: 0.9;
	background-color:black;
	color: white;
    
}
#bod1{
	/*background-image: url(img/mercado1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	background-position: center center;*/
}
/* inputs do formulario/lista_produto */
#divtab1{
	width:80%;
	height:600px;
	left:200px;
	top:150px; 
	overflow: auto;
	position:absolute;
}
#husuario{
	top:75px;
	left:700px;
	position:absolute;
}
#hremove{
	top:75px;
	left:800px;
	position:absolute;
}
#butlista{
	left:900px;
	top:800px;
	position:absolute;
}
#icon1{
	width:70px;
	height:70px;
	position:relative;
}
#icon2{
	width:70px;
	height:70px;
	position:relative;
}
#icon3{
	width:70px;
	height:70px;
	position:relative;
}

.tdireita{
    left:560px;
    position:relative;
}
#butlixo{
    left:150px;
    bottom:8px;
    position: absolute;
}

.principal {
    padding: 40px 20px;
    text-align: center;
}
#buttonrefazer{
    position: relative;
    top: 40px;
}
#table1{
  border:2px solid black;
  width: 100%;
  position: relative;
  border-radius: 15px;

}
#lisair{
	left: 850px;
}
#tag1{
	text-shadow:2px 2px 1px green;
	left:380px;
	top:80px;
	position:absolute;
}
#tag2{
	left:380px;
	top:530;
	color:white;
	text-shadow:2px 2px 1px black; 
	position:absolute;
}
#p2{
	left:890px;
	top:230px;
	position:absolute;
}
#p3{
	left:840px;
	top:200px;
	position: absolute;
}
#p4,#p5,#p6{
	left:800px;
	top:90px;
	position: absolute;
}
#p7,#p8{
	left:800px;
	top:100px; 
	color:white;
	text-shadow:2px 2px 1px black;	
	position:absolute;
}
#b1{
	border-radius:12px;
	top:350px;
	left:300px;
	position:absolute;
}
#b2{
	border-radius:12px;
	top:350px;
	right:850px;
	position:absolute;
}
#b3{
	border-radius:12px;
	top:350px;
	right:300px;
	position:absolute;
}
#b4{
	border-radius:12px;
	top:10px;
	right:10px;
	position:absolute;
}
#b5{
	border-radius:12px;
	top:10px;
	right:130px;
	position:absolute;
}
#b6{
	border-radius:12px;
	top:10px;
	right:245px;
	position:absolute;
}
#tab1{
	width:50%;
	height:800px;
	right:50px; 
	top: 70px; 
	border-radius:20px;
	position: absolute;
	font-size: 20pt;
	text-align:left;
	background-color:#EED8AE;
	opacity: 0.7;
	overflow:auto;
}
#tab2{
	left:200px; 
	top:440px;
	position: absolute;
}
#tab4{
	top:200px;
	left:0px;	
	position: absolute;
}
#tab6{
	top:250px;
	left:200px;
	position: absolute;
}
#tab7{
	top:250px;
	left:200px;
	position: absolute;
}
#div1{
	width:12%;
    height:100px;
    left:340px;
    top:600px;
	background-color:black;
	opacity: 0.8;
    border-radius:20px;
	position:absolute;

}
#div4{
	left:850px; 
	top: 200px;
	position:absolute;
}

#in1{
	width:30%;
	left:200px;
	top:200px;
	border-radius:20px;
    border-color: black;
	position:absolute;
	
}
#in2{
	width: 50px;
	left:520px;
	top:155px;
	position:absolute;
	border-radius: 12px;
	text-align: center;
	
}
#in3{
	right:460px;
	position: relative;
}
#in4{
    bottom:15px;
	position: relative;
	text-align: center;
	
}
#in5{
	width: 70px;
	left:510px;
	top: 240px;
	border-radius: 12px;
	position: absolute;
}
/*parte do finaliza compras*/
#tab3{
	width:20%;
	height:250px;
	top:280px;
	left:330px; 
	position: absolute;
}
#div2{
	width:100px;
	left:150px;
	top:115px;
	text-align:center;
	border-color: black;
	border-radius:12px;
	position:absolute;
	
}
#div3{
	width: 100px;
	height:35px;
    left:298px;
	top:70px;
	text-align: center;
	position:absolute;
	border-radius: 12px; 
}

#in6{
	left:0px;
	top:30px;
	color:white;
	text-shadow:2px 2px 1px black;
	position:absolute;
}
#in7{
	width:100px;
	left:150px;
    top:45px;
	border-radius: 12px;
	text-align: center;
	border-color: black;
	position: absolute;
}
#in8{
	left:0px;
	top:170px;
	color:white;
	text-shadow:2px 2px 1px black;
	position:absolute;
}
#in9{
	top:100px; 
	left:0px;
	color:white;
	text-shadow:2px 2px 1px black; 	
	position:absolute;
}
#in10{
	width:100px; 
	left:150px;
	top:185px;
	text-align: center;
	border-color: black;
	border-radius:12px; 
	position:absolute;
}
#in11{
	width: 70px;
	left: 250px;
	top:200px;
	border-radius: 12px;
	position: absolute;
}
#in12{
right:  990px;
bottom: 230px;
position: absolute;	
}
#in13{
 right:740px;
 top: 135px;
 border-radius: 12px;
 position:absolute;
}

#in14{
width: 80px;
left: 430px;
top:20px;
font-size: 12pt;
border-radius: 12px;
text-align: center;
position: absolute;

 
}
/* Botões do adiciona_produto */
#posicao{
	top:200px;
	left:650px;
	position: absolute;
}
#in15{
right:870px;
top:350px;
position: absolute;
}
#in16{
left:800px;
top:350px;
position: absolute;
}
/* inputs do login/index */
#in17{
	width: 50%;
	left: 300px;
	top:10px;
	position: absolute;
}
#in18{
	width: 50%;
	left: 300px;
	top:70px;
	position: absolute;
}
#in19{
	top:120px;
	left: 310px;
	position: absolute;
}
#in20{
	top:560px;
	right:470px;
	position: absolute;
}
#in21{
	left: 200px;
	position: relative;
}
#in22{
	left: 200px;
	position: relative;
}
/* inputs do formulario/formulario base */
#in23{
	width:55%;
	left:340px;
	top:20px;
	position: absolute;
}
#in24{
	width:55%;
	left:340px;
	top:95px;
	position: absolute;
}
#in25{
	width:55%;
	left:340px;
	top:170px;
	position: absolute;
}
#in26{
	width:55%;
	height:60px;
	left:340px;
	top:230px;
	position: absolute;
}
#in27{
	width:55%;
	left:340px;
	top:320px;
	position: absolute;
}
#but1{
	left: 400px;
	position: absolute;
}
#but2{
	left:950px;
	top:650px;
    position:absolute;	
}
/* inputs do alterar_produto_formulario */
#but3{
	right:700px;
	top:650px;
	position: absolute;
}
#but4{
	left:600px;
	top:400px;
	position: absolute;
}
/*inputs do cadastroUsuario*/
#in28{
	width:60%;
	left:350px;
	top:20px;
	position: absolute;
}
#in29{
	width:60%;
	left:350px;
	top:95px;
	position: absolute;
}
#in30{
	left:250px;
	bottom:5px;
	position:relative;
}
#in31{
	left:250px;
	bottom:5px;
	position:relative;
}
#in32{
	left:270px;
	top:160px;
	position:absolute;
}
/*inputs do altera_produto*/
#in33{
	top:250px;
	left:750px; 
	position:absolute;
}
#butvolta{
    top:400px;
	left:950px; 
	position:absolute;
}

}




